[submodule "blueberrn-SDL/external/imgui"]
	path = blueberrn-SDL/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "blueberrn-SDL/external/imgui_sdl"]
	path = blueberrn-SDL/external/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "libblueberrn/components/cpu/8080/Bee8080"]
	path = libblueberrn/components/cpu/8080/Bee8080
	url = https://github.com/BueniaDev/Bee8080.git
[submodule "libblueberrn/components/cpu/z80/BeeZ80"]
	path = libblueberrn/components/cpu/z80/BeeZ80
	url = https://github.com/BueniaDev/BeeZ80.git
[submodule "libblueberrn/components/cpu/m68k/Botsashi"]
	path = libblueberrn/components/cpu/m68k/Botsashi
	url = https://github.com/BueniaDev/Botsashi.git
[submodule "libblueberrn/components/cpu/m6502/Bee6502"]
	path = libblueberrn/components/cpu/m6502/Bee6502
	url = https://github.com/BueniaDev/Bee6502.git
[submodule "libblueberrn/components/audio/psg/BeePSG"]
	path = libblueberrn/components/audio/psg/BeePSG
	url = https://github.com/BueniaDev/BeePSG.git
[submodule "libblueberrn/components/konami/konami/BeeKonami"]
	path = libblueberrn/components/konami/konami/BeeKonami
	url = https://github.com/BueniaDev/BeeKonami.git
[submodule "libblueberrn/components/cpu/m680x/Botnami"]
	path = libblueberrn/components/cpu/m680x/Botnami
	url = https://github.com/BueniaDev/Botnami.git
[submodule "libblueberrn/components/audio/fm/BeeNuked"]
	path = libblueberrn/components/audio/fm/BeeNuked
	url = https://github.com/BueniaDev/BeeNuked.git
